---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="taurean.work • CV"
    description="Taurean's professional experience, skills, and portfolio as a Design Engineer"
    type="profile"
>
    <header>
        <div>
            <h1>Taurean C. Bryant</h1>
        </div>
        <a href="/now">Whats new</a>
    </header>
    <main>
        <section>
            <h2>about</h2>
            <p>
                I'm a designer-turned-engineer with a deep love of the web, how
                it democratizes access and information, and how it impacts
                society.
            </p>
            <p><a href="/">Wait… who?</a></p>
        </section>
    </main>
    <footer>
        <Footer />
    </footer>
</Layout>
