---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Now">
    <nav>
        <p><a href="/cv">Hiring? check out my cv & portfolio </a></p>
    </nav>
    <header>
        <div>
            <h1>Taurean C. Bryant</h1>
        </div>
        <a href="/">Taurean?</a>
    </header>
    <h2>Now</h2>
    <footer>
        <Footer />
    </footer>
</Layout>
