---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { HealthSummary } from "../components/HealthSummary";
import Availability from "../components/Availability.astro";
---

<Layout 
    title="Now | Taurean C Bryant" 
    description="What Taurean Bryant is currently doing, reading, and thinking about"
>
    <nav>
        <p><a href="/cv">Hiring? check out my cv & portfolio </a></p>
    </nav>
    <header>
        <div>
            <h1>Taurean C. Bryant</h1>
        </div>
        <a href="/">Taurean?</a>
    </header>
    <h2>Now</h2>
    <main>
        <section>
            <HealthSummary client:load />
        </section>
        <section>
            <h3>Contact</h3>
            <Availability />
        </section>
    </main>
    <footer>
        <Footer />
    </footer>
</Layout>
