<section>
    <div>
        <span>`taurean dot work {`Ⓒ$\{currentYear}`}`</span>
        <span
            ><a href="https://backstage.taurean.work" target="_blank"
                >Backstage Pass</a
            ></span
        >
    </div>
</section>
