---
const { title = "Taurean.work" } = Astro.props;

import "../styles/stylebase.css";
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
        is:inline
        defer
        src="https://api.pirsch.io/pa.js"
        id="pianjs"
        data-code="onSiLVyJIB8svrdlACirr2WQ2a4L1Ons"></script>
</head>
